.signIn {
    background: var(--primary-color);

}

.signIn-form {
    /* background: #FFFFFF33; */
    background: #e3cbcb;
    width: 531px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.submit-btn {
    padding: 10px, 20px, 10px, 20px !important;
    border-radius: 5px;
    background: var(--primary-color);
    color: rgb(229, 66, 66);
    font-family: 'Poppins';
    font-size: 15px;
    height: 50px;
    font-weight: 500;
    letter-spacing: 0em;



}

.signIn-form input {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    height: 50px;
    /* height: 50px;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 16px; */
}

.signIn-form input:focus {
    box-shadow: none;
}

.signIn-form ::placeholder {
    color: #ccc;
}

.signIn-form h5 {

    font-size: 30px;
    font-weight: 700;

    letter-spacing: 0.01em;
    color: white;


}

.signIn-form p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.signIn-form span {
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.signIn-form span:hover {
    color: white;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.02em;
    cursor: pointer;

}

.backToHome a{
    font-size: 15px;
    font-weight: 500;
}

.input-group-append{
    background-color: var(--primary-color)!important;
    color: white!important;
    height: 50px;
    border: none !important;
    box-shadow: none !important;
}
.input-group{
    background-color: transparent!important;
    color: white!important;
    height: 50px;
    border: none !important;
    box-shadow: none !important;
    
}

.input-group .bi{
color: rgb(235, 14, 14)!important;
font-size: 25px;
align-items: center;
}
.input-group-append .input-group-text{
    background-color: transparent!important;
    align-items: center!important;
    border: none!important;
}